.categories__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item {
  margin: 0;
  padding: 0;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.categories__link {
  font-style: normal;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.categories__title {
  margin: 0;
  padding: 27px 30px;
}
