.custom-make__info {
  margin-bottom: 14px;

  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .custom-make__info {
    margin-bottom: 6px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .custom-make__info {
    margin-bottom: 4px;
    padding-left: 225px;
    padding-right: 225px;
  }

  .form__legend {
    left: 114px;
  }
}
