.custom-make__info {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .custom-make__info {
    padding: 0 6.51%;
    margin-bottom: 9px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .custom-make__info {
    max-width: 1050px;
    margin: 0 auto;
    padding-left: 175px;
  }
}
