.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__search-form {
  margin: 0;
  padding: 0;
}

.main-nav__cart {
  padding: 30px 45px;

  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}
