.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  list-style: none;
}

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    order: 1;
    margin-top: 19px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    order: -1;
    margin: 0;
  }
}
