.menu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu-list__item {
  padding: 0 30px;

  box-shadow: inset 0 1px 0 0 @color-border, 0 1px 0 0 @color-border;
}

.menu-list__link {
  display: block;
  padding: 27px 0 28px 45px;

  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-family: @font;
  color: @color-heading;
  text-decoration: none;
  letter-spacing: 0.8px;

  &:hover:not(&--current) {
    opacity: 0.6;
  }

  &:active:not(&--current) {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .menu-list {
    flex-direction: row;
    order: 2;
    margin-left: 50px;
  }

  .menu-list__item {
    margin-right: 30px;
    padding: 0;

    box-shadow: none;
  }

  .menu-list__link {
    padding: 0;

    font-size: 15px;
  }
}

@media (min-width: 1150px) {
  .menu-list {
    width: 500px;
    height: 88px;
    margin: 0;

    box-shadow: 0 1px 0 0 @color-border;
  }

  .menu-list__item {
    margin: 0;
    padding: 0;

    &:first-child .menu-list__link {
      padding-left: 50px;

      box-shadow: inset -1px 0 0 0 @color-border;
    }
  }

  .menu-list__link {
    padding: 32px 33px;

    font-size: 17px;
  }
}
